@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./assets/winter-landscape-2014228.jpg);
    background-position: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #555;

}
::-webkit-scrollbar-thumb{
    background: goldenrod;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: gold;
}